.wrapper {
  /* padding-top: 50px; */
  background: #ECEFF1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  /* padding: 20px; */
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  background-image: url("https://wallpapertag.com/wallpaper/full/b/4/c/414327-harry-potter-desktop-backgrounds-1920x1080-for-htc.jpg");
  background-size: cover;
  
}
